<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Kanban Board | Add List</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <div class="form">
            {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
            {% endfor %}
            <h1>Add List name</h1>
            <form action="/<username>/addlist" method = 'POST' class = 'login-form'>
                <input type="hidden" name = 'user' value =  '{{ data }}' />
                <input type="text" name = 'listname' required placeholder="Listname"/>
                <button>Add list</button>
                
            </form>
        </div>
    </body>

</html>